<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Views Lab II</title>
    </head>
    <body>
        <h1>Today</h1>
        <% d = Time.now %>
        <p>The date is <%= "#{d.strftime('%A, %B %d, %Y')}" %></p>
        

    </body>
</html>